<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!--<h4 class="modal-title">{{title}}</h4>-->
            </div>
            <div class="modal-body">
                <p>Please enter the following information:</p>
                
                
                
                <!--// 274_hao.wei@unifr.ch.xml-->
                
                
                
                
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">Image name</label>
                        <div class="col-sm-8">
                            <input type="text" size="5" class="form-control" id="imageURLModal" placeholder="Enter image name" ng-model="imageName" ng-change="changeImageName()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-sm-4 control-label">User Email address:</label>
                        <div class="col-sm-8">
                            <input type="text" size="5" class="form-control" id="imageURLModal" placeholder="Enter your email address" ng-model="emailAddress" ng-change="changeEmailAddress()">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="age" class="col-sm-4 control-label">XML file name:</label>
                        <div class="col-sm-8">
                            <input type="text" size="5" class="form-control" id="imageURLModal" placeholder="Enter URL" ng-model="xmlName">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>