<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DIVADIAGTWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AutoSegmentServlet</servlet-name>
    <servlet-class>ch.unifr.AutoSegmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoSegmentServlet</servlet-name>
    <url-pattern>/AutoSegmentServletPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetImageServlet</servlet-name>
    <servlet-class>ch.unifr.GetImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImageServlet</servlet-name>
    <url-pattern>/GetImageServletPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SplitServlet</servlet-name>
    <servlet-class>ch.unifr.SplitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SplitServlet</servlet-name>
    <url-pattern>/SplitServletPath</url-pattern>
  </servlet-mapping>
</web-app>